body {
  background-color:darkgray;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 350px;
  background-color: white;
  margin: 10px;
  padding: 0px;
  box-shadow: 3px 3px black;
}

.card h2 {
  border-bottom: 3px lightblue solid;
  text-align: center;
  padding: 10px;
}

.card img {
  height: 300px;
  width: 250px;
  margin: 50px;
}

.image {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.availability {
  background-color: lightslategray;
  color: yellow;
  text-align: center;
  padding: 0;
}

header {
  text-align: center;
  font-style:oblique;
}

.spec-text {
  font-weight: bold;

}
