body {
  background-color:darkgray;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  width: 350px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  
}

.card h2 {
  border-bottom: 3px lightblue solid;
  text-align: center;
  margin: 0;
}

.card img {
  height: 300px;
  width: 250px;
  margin: 50px;
}

.image {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.availability {
  background-color: lightslategray;
  color: yellow;
  text-align: center;
  padding: 0;
}
