body {
  background-color: #B2DFDB;
  margin: 0;
  padding: 0;
}

.card-container {
  display: flex;
  flex-flow: row wrap; 
  max-width: 1400px;
  justify-content:space-evenly;
}

.card {
  width: 350px;
  background-color: white;
  margin: 20px;
  padding: 0px;
  box-shadow: 3px 3px black;
}

.card h2 {
  border-bottom: 3px #BDBDBD solid;
  text-align: center;
  padding: 10px;
  color: #00796B;
}

.card img {
  height: 300px;
  width: 250px;
  margin: 50px;
}

.image {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.availability {
  background-color: #BDBDBD;
  color: yellow;
  text-align: center;
  padding: 0;
}

h3 {
 text-align: center;
  font-style:oblique;
  font-weight: normal;
  border-bottom: #BDBDBD 1px solid;
  padding-bottom: 5px;
  color: #757575;
}

.spec-text {
  font-weight: bold;
  padding-left: 10px;
  color: #00796B;
}

.small-text {
  padding-left: 10px;
  padding-right: 10px;
  color: black;;
}
